html, body {
  cursor: url(https://cdn.jsdelivr.net/gh/tinfy/blog-cdn/img/cur_default.cur), auto;
}
/* 所有的链接和按钮，发表更新时间 */
a:hover, button:hover, time:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/tinfy/blog-cdn/img/cur_pointer.cur), auto !important;
}
/* 推送消息的铃铛 */
prompticon3:hover, btn:hover, popup_close:hover, webpushrpromptbtndeny2:hover, webpushrpromptbtnapprove2:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/tinfy/blog-cdn/img/cur_pointer.cur), auto;
}
/* 向上的箭头，复制代码的按钮，文章目录，站点概览 */
.back-to-top:hover, .copy-btn:hover, .sidebar-nav-toc:hover, .sidebar-nav-overview:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/tinfy/blog-cdn/img/cur_pointer.cur), auto;
}
/* 评论区 */
svg:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/tinfy/blog-cdn/img/cur_pointer.cur), auto;
}
label:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/tinfy/blog-cdn/img/cur_default.cur), auto;
}

/* 定义滚动条宽高及背景 宽高分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}
/* 滚动条轨道 内阴影+圆角 */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
/* 滚动条上的滚动滑块 圆角 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #C1C1C1;
}
